.hero {
   &__info {
      width: 425px;
      margin-top: 51px;

      position: sticky;
      top: 10px;
      z-index: 5;

      &-inner {
         padding: 25px;
         box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
      }
   }




   &__basic {
      display: flex;

      img {
         width: 150px;
         height: 150px;
      }

      &-block {
         margin-left: 25px;
      }

      &-name {
         font-size: 22px;
         font-weight: 700;
      }

      &-btns {
         margin-top: 35px;

         a:nth-child(2) {
            margin-top: 10px;
         }
      }
   }

   &__descr {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
   }

   &__comics {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 700;

      &-item {
         margin-top: 10px;
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
         width: 100%;
         padding: 0px 10px;
         line-height: 25px;
      }
   }
}