@import '../../style/variables.scss';

.form {
   margin-top: 30px;
   width: 425px;
   min-height: 127px;
   flex-shrink: 0;
   background: #FFF;
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
   padding: 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   &__title {
      font-size: 18px;
      font-weight: 700;
   }

   &__main {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
   }

   &__input {
      width: 250px;
      min-height: 38px;
      flex-shrink: 0;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: 0;
      font-size: 14px;
      font-weight: 400;
      padding-left: 10px;

      &:focus {
         outline: none;
      }
   }

   &__status {
      margin-top: 25px;
      color: $main-color;
      font-size: 18px;
      font-weight: 700;
   }

   &__green {
      color: #03710E;
   }
}

.view {
   display: flex;
   justify-content: space-between;
   align-items: center;
}