@import '../../style/variables.scss';

.header {
   display: flex;
   justify-content: space-between;

   &__title {
      font-size: 28px;
      font-weight: 700;

      span {
         color: $main-color;
      }
   }

   &__menu {
      ul {
         display: flex;
         justify-content: space-between;
         font-size: 24px;
         font-weight: 700;

         li {
            margin: 0 8px;

            a:hover {
               color: $main-color;
            }
         }
      }


   }
}